@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
  font-weight: 400 600 700;
}

:root {
  --white-color: #ffffff;
  --snow-color: #fff7fb;
  --white-coffe-color: #e3ddd7;
  --egg-shell-color: #f3e5d7;
  --wenge-brown-color: #5f564d;
  --brandy-red-color: #854632;
  --dark-raspberry-color: #7a284e;
  --dark-charcol-color: #312e2c;
}
ul,
li {
  all: unset;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.heading-text-l {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Young Serif";
}
@media screen and (max-width: 376px) {
  .heading-text-l {
    font-size: 36px;
  }
}

.heading-text-m {
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  font-family: "Young Serif";
}

.heading-text-s {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  font-family: "Outfit";
}

.body-text-regular {
  font-size: 16px;
  font-weight: 400;
  font-family: "Outfit";
  line-height: 150%;
}

.body-text-bold {
  font-size: 16px;
  font-weight: 700;
  font-family: "Outfit";
  line-height: 150%;
}
.text-color-wenge-brown {
  color: var(--wenge-brown-color);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--egg-shell-color);
}

body main {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 736px) {
  body main {
    padding: 124px 0px;
  }
}
.recipe {
  padding: 40px;
  border-radius: 24px;
  background-color: var(--white-color);
  max-width: 736px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
}
@media screen and (max-width: 376px) {
  .recipe {
    padding: 0px;
    padding-bottom: 40px;
    border-radius: 0px;
  }
}

.recipe .recipe-img {
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
}

@media screen and (max-width: 376px) {
  .recipe .recipe-img {
    border-radius: 0px;
  }
}
.recipe .recipe-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
}

@media screen and (max-width: 376px) {
  .recipe .recipe-content {
    padding: 0px 32px;
  }
}

.recipe-content .title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

.title-subtitle h1 {
  color: var(--dark-charcol-color);
}

.title-subtitle p {
  color: var(--wenge-brown-color);
}

.recipe-content .prep-info {
  padding: 28px;
  background-color: var(--snow-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 376px) {
  .recipe-content .prep-info {
    gap: 8px;
    padding: 24px;
  }
}

.prep-info h3 {
  color: var(--dark-raspberry-color);
}

.prep-info ul {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.prep-info li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  gap: 16px;
}

li .dot {
  display: block;
  position: relative;
}

li .dot::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--dark-raspberry-color);
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.prep-info li p {
  color: var(--wenge-brown-color);
}
.recipe-content .recipe-content-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipe-content-section .section-header {
  color: var(--brandy-red-color);
}
.recipe-content-section .section-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.recipe-content-section .section-list .section-list-item {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  color: var(--wenge-brown-color);
  gap: 16px;
}

.section-list-item .dot::before {
  background-color: var(--brandy-red-color);
}

.divider {
  height: 1px;
  background-color: var(--white-coffe-color);
}

.section-list-item > span {
  color: var(--brandy-red-color) !important;
}

.nutrition-table table tbody tr,
td {
  all: unset;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nutrition-table tbody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}
.nutrition-table tbody tr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
  padding: 0px 32px;
}

.nutrition-table tbody tr td {
  flex: 1;
  color: var(--wenge-brown-color);
}
